:root {
    --bg_main: #ffffff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

.nav{
    position: center;
    width: 100%;
}

.navtop{
    position: center;
        width: 100%;
    margin-right: 1%;
}

.navbot{
    position: center;
        width: 100%;
}
.categorie{
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container2{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.top-banner {
    color: purple;
}

.heading {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
}

.top-banner form {
    position: relative;
    display: flex;
    align-items: center;
}

.top-banner form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

.top-banner form input::placeholder {
    color: currentColor;
}

.top-banner form button {

    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: black;
    background: whitesmoke;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 600px;
    transition: all 0.2s;
    :hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 50px;
    transform: scale(1.01);
    }

}

.top-banner form button:hover {
    background: #FF8D29;
}

.top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
}

.ajax-section {
    margin: 70px 0 20px;
}

.ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--bg_main);
    color: var(--text_med);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    /* background: #53627c; */
}

.ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ajax-section .city-temp {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
    margin: 0 auto;
    text-align: center;
}

.ajax-section .city sup {
    font-size: 0.5em;
}

.ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    /* color: #53627c; */
    background: var(--blue);
}

.ajax-section .city-icon {
    margin-top: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;

}

.boutonrecette{
    width: 100%;
    padding: 1rem 0rem;
    background: pink;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}

 #searchbar{
     margin-left: 15%;
     margin-bottom: 60px;
     padding:15px;
     border-radius: 60px;
   }

   input[type=text] {
      width: 55%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }

